<form action="<%= post_path(@post) %>" method='get' id='comments_show'>
  <div class='field'>
    <select title="comment_status">
      <option <%= @comment_status == 'published' ? 'selected' : '' %> >Published</option>
      <option <%= @comment_status == 'unpublished' ? 'selected' : '' %> >Unpublished</option>
    </select>
  </div>
</form>
<% render 'comments/list', collection: @post.comments.reverse %>






